doctype html
html
  head
    title Neha Dance Accademy
    block scripts
    block style 
  body
    nav#navbar
      ul
         div#logo
            img(src="https://cdn.pixabay.com/photo/2016/05/23/08/26/ballet-1409894_1280.jpg", alt='error')
            | HDA 
         li #[a(href= "/") Home]
         li #[a(href= "/") About Us] 
         li #[a(href= "/contact") Contact Us] 
         li #[a(href= "/") Services] 
         li #[a(href= "/") Class Info]

    block content
    
    footer#footer 
         p copyright 2000 nehaaccademy.com all rights || reserved 












