extends base.pug

block scripts
  script(src='/static/index.js')


block style 
  style 
    include ../static/style.css

block content
      section#introsection
         div Welcome to Neha's dance Academy!!
         div.small Eat Sleep Dance Repeat

      section#missionsection
         h1 Our Missions  
         
         div.card
          h3 Dance Perfection  
          div.card-box
            div.card-img 
               img(src="https://cdn.pixabay.com/photo/2016/12/30/10/03/dance-1940245_1280.jpg", alt="error")

            div.card-content 
               p This is the best dance class in this city  

         div.card
          h3 Dance the way you like!!
          div.card-box
            div.card-img 
               img(src="https://cdn.pixabay.com/photo/2016/11/22/21/43/agility-1850711_1280.jpg", alt="error")

            div.card-content 
               p This is the best dance class in this city 

         div.card 
          h3 Expect Teaching
          div.card-box
            div.card-img 
               img(src="https://cdn.pixabay.com/photo/2016/11/22/19/26/adult-1850184_1280.jpg", alt="error")

            div.card-content 
               p This is the best dance class in this city 

      section#sponsorssection
         h1 Our sponsors 
         div#sponsors 
            img(src="https://cdn.pixabay.com/photo/2017/06/08/23/00/apple-2385198_1280.jpg", alt="error")
            img(src="https://cdn.pixabay.com/photo/2017/10/04/11/58/skype-2815965_1280.jpg", alt="error")
            img(src="https://cdn.pixabay.com/photo/2016/03/17/07/02/starbucks-1262392_1280.jpg", alt="error")
            img(src="https://cdn.pixabay.com/photo/2022/04/01/19/41/logo-7105561_1280.png", alt="error")

 





